<h1>Hello, <%= current_user.email %>!</h1>
<h2>Viewing Party Details</h2>

<h4>Movie Title: </h4>
<%= form_with(model: @party, method: :post, local:true) do |form| %>
  Date and Time of Event: <%= form.datetime_local_field :date, value: @movie[:api_id] %><br>
  Duration:<%= form.number_field :duration, value: @movie[:duration] %><br>
  <%= form.hidden_field :api_id, value: @movie[:api_id] %>
  <%= form.hidden_field :movie_title, value: @movie[:title] %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.submit "Create Party" %>
<% end %>
