<h2><%= @movie_title %></h2>

<%= form_with model: @party, local: true do |f| %>
  <%= f.hidden_field :title, value: @movie_title %>
  <%= f.hidden_field :movie_id, value: @movie_id %>
  <%= f.label :duration, 'Duration of Party: ' %>
  <%= f.number_field :duration, value: @movie_runtime, min: @movie_runtime %>

  <%= f.label :date, 'Date: ' %>
  <%= f.date_field :date %>

  <%= f.label :start_time, 'Start Time: ' %>
  <%= f.time_field :start_time %>

  <% if current_user.friends.empty? %>
    <p>Seems like you have not added friends yet.<br>
      Just a heads up that you will not be able to modify this event once it has been created.</p>
  <% else %>
    <p>Include Some Friends:</p>
     <% current_user.friends.each do |friend| %>
      <div id="friend-<%= friend.id %>">
        <%= f.label friend.email %>
        <%= f.check_box friend.email %><br><br>
      </div>
     <% end %>
  <% end %>

   <%= f.submit 'Create Party' %>
<% end %>
