<h2>Viewing Party Details</h2>

<%= form_tag new_party_path do %>
  <%= text_field_tag :movie_title, @details.title, readonly: true  %>
  <br>
  <%= label_tag :duration, 'Duration of Party' %>
  <%= text_field_tag :duration, "#{@details.runtime}" %>
  <br>
  <section class="date-time-select">
    <%= label_tag :day %>
    <%= date_select("day", "event", order: [:day, :month, :year]) %>
  <br>
    <%= label_tag :start_time, 'Start Time' %>
    <%= time_select :start_time, 'method', {:default => {:hour => '10', minute: '30'}, ignore_date: true, ampm: true} %>
  </section>
  <br>
  <% current_user.friends.each do |friend| %>
  <section id= "friend-<%= friend.id %>">
    <%= friend[:email] %>
    <%= check_box_tag "friend_ids[]", "#{friend[:id]}"  %>
  </section>
  <% end %>
  <%= submit_tag "Create Party" %>
<% end %>
