<h2>Create a New Viewing Party for <%= params[:movie_title] %></h2>

<%= form_with url: parties_path, method: :post, local: true do |f| %>
<%= f.hidden_field :movie_title, value: params[:movie_title] %>
<%= f.hidden_field :movie_id, value: params[:movie_id] %>
<%= f.hidden_field :user_id, value: @user.id %>
<%= f.hidden_field :runtime, value: params[:runtime] %>
<%= f.label :party_duration, "Duration: " %>
<%= f.number_field :party_duration, :value => params[:runtime], min: params[:runtime] %>
<%= f.label :party_date, "Date: " %>
<%= f.date_field :party_date, min: Time.now %>
<%= f.label :start_time, "Start Time: " %>
<%= f.time_field :start_time, :ampm => true %>
<p>Invite Friends: </p>
<%= f.collection_check_boxes :friends, @user.friends, :id, :user_name %> <br>
<%= f.submit "Create Viewing Party"%>
<%end%>