<h2>Create a New Viewing Party for <%= @movie_title %></h2>

<%= form_with url: parties_path, method: :post, local: true do |f| %>
<%= f.hidden_field :movie_title, value: @movie_title %>
<%= f.hidden_field :host_id, value: @user_id %>
<%= f.label :viewing_party_duration, "Duration: " %>
<%= f.number_field :viewing_party_duration, :value => params[:runtime] %>
<%= f.label :viewing_party_date, "Date: " %>
<%= f.date_field :viewing_party_date %>
<%= f.label :start_time, "Start Time: " %>
<%= f.time_field :start_time %>

<%= f.submit "Create Viewing Party"%>
<%end%>