<h1>Hello, <%= current_user.email %>!</h1>
<h2>Viewing Party Details</h2>

<h4>Movie Title: <%= @movie_info[:title] %></h4>
<%= form_with(model: @party, local:true) do |form| %>
  <%= form.label :date, "Date and Time of Event:" %>
  <%= form.datetime_local_field :date, value: Date.tomorrow, min: (Date.today + 1)%><br>
  <%= form.label :duration, "Duration:" %>
  <%= form.number_field :duration, value: @movie_info[:runtime], min: @movie_info[:runtime] %><br>
  <%= form.hidden_field :api_id, value: @movie[:api_id] %>
  <%= form.hidden_field :movie_title, value: @movie_info[:title] %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.submit "Create Party" %>
<% end %>
