<h1>Discover Movies</h1>

<%=button_to 'Discover Top 40 Movies', movies_path, method: :get %>

<h3>Find By Title</h3>
<%= form_with url: movies_path, method: :get, local: true do |f| %>
<%= f.label :search, 'Search' %>
<%= f.text_field :search %>
<%= f.submit "Search by Movie Title" %>
<% end %>
