<h1>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h1>

<h2><%= button_to 'Find Top Rated Movies', '/movies' %></h2>
<h2>Or</h2>
<%= form_with url: '/movies', method: 'get', local: true do |f| %>
  <%= f.text_field :movie_title , placeholder: "Search by movie title"%>
  <%= f.submit "Find Movies" %>
<% end %>
