<%= button_to 'Discover Movies', discover_path, method: "get" %>

<section class='friends'>
  <h2>Add a Friend:</h2>
  <%= form_with url: friendships_path, local: true do |form| %>
    <%= form.label :email %>
    <%= form.email_field :email %>

    <%= form.submit 'Add Friend' %>
  <% end %>

  <h2>My Friends:</h2>
  <% unless @current_user.friends.empty? %>
    <ul>
      <% @current_user.friends.each do |friend| %>
        <li><%= friend.name %></li>
      <% end %>
    </ul>
  <% else %>
    <p>You currently have no friends</p>
  <% end %>
</section>

<section class='viewing-parties'>
  <h2>My Viewing Parties:</h2>
  <% unless current_user.parties.empty? %>
  <ul>
    <% current_user.parties.each do |party|%>
      <div id="party-<%= party.id %>">
        <%= MovieDbFacade.get_movie_info(party.movie.mdb_id).title%>
        <%= party.start_time %>
        <%# may be easier to add host_field to party, then do below%>
        <%= party.viewers.find_by(user_id: current_user.id).status %>
      </div>
    <% end %>
  </ul>
  <% else %>
    <p> You have no parties - host one! </p>
  <% end %>
</section>
