<body>
  <section id="greeting">
    <h1>Welcome <%= @host.full_name %></h1>
  </section>

  <section class="movies">
    <%= link_to "Discover Movies", discover_index_path %>
  </section>

  <section class="friends">
    <h2>Friends</h2>
    <hr>
    <%= form_with url: user_followers_path, method: :post, local: true do |f| %>
      <%= f.label :email %>
      <%= f.text_field :search %>
      <%= f.submit "Add Friend" %>
    <% end %>
    <% @host.followers.each do |follower| %>
      <div id="friend-<%= follower.id %>">
        <%= follower.full_name %>
      </div>
    <% end %>
  </section>

  <section class="hosted-parties">
    <h2>Hosted Parties</h2>
    <hr>
    <% @hosted_parties.each do |party| %>
      <div id="party-<%= party.id %>">
        <h4><%= link_to "#{party.movie.title}" %></h4>
          <p>
            At: <%= party.time %>
            Lasting: <%= party.duration %>
            Hosted by: <%= party.host.full_name %>
          </p>
          <h4>Guests:</h4>
          <ul class="invitees">
            <%party.invitees.each do |invitee| %>
              <li><%= invitee.full_name %></li>
            <% end %>
          </ul>
      </div>
    <% end %>
  </section>
  <section class="invited-parties">
    <h2>Parties im invited to:</h2>
    <hr>
    <% @invited_parties.each do |party| %>
      <div id="party-<%= party.id %>">
        <h4><%= link_to "#{party.movie.title}" %></h4>
          <p>
            At: <%= party.time %>
            Lasting: <%= party.duration %>
            Hosted by: <%= party.host.full_name %>
          </p>
          <h4>Friends invited:</h4>
          <ul>
            <%party.invitees.each do |invitee| %>
              <li id="friends-invited-<%= invitee.id %>" style=<%= invitee.user?(@host.id) %>><%= invitee.full_name %></li>
            <% end %>
          </ul>
      </div>
    <% end %>
  </section>

</body>
