<% if current_user %>
  <section id="userInfo">
    <h1>Welcome <%= current_user.email %>!</h1>
  </section>

  <section id="discover-movies-link">
    <%= link_to "Discover Movies", discover_path %>
  </section>

  <section id="friends">
    <%= form_with url: follow_user_path(current_user), method: :post, local: true do |f| %>
      <%= f.label :friend_email, "Friend's Email" %>
      <%= f.text_field :friend_email %>
      <%= f.submit "Add Friend" %>
    <% end %>
    <% if current_user.followees.length > 0 %>
      <p>People I follow: </p>
      <% current_user.followees.each do |user| %>
        <p><%= user.email %></p>
        <%= button_to "Unfollow", unfollow_user_path(user.id) %>
      <% end %>
    <% else %>
      <p>You currently have no friends.</p>
    <% end %>
  </section>
 <section id="hosting">
  <p><% @hosting.each do |party|%></p>
  <p><%= party.title %></p>
  <p><%= party.date.strftime("%B %d, %Y") %></p>
  <p><%= party.time.strftime("%I:%M %P") %></p>
  <% party.friends.each do |friend| %>
    <%= friend.email %><br>
  <% end %>
  <H4>Hosting</H4><br>
  <% end %>
 </section>

 <section id="invited">
  <% @invited.each do |party| %>
  <p><%= party.title%></p>
  <p><%= party.date.strftime("%B %d, %Y") %></p>
  <p><%= party.time.strftime("%I:%M %P") %></p>
   <% party.friends.each do |friend| %>
   <% if current_user.email == friend.email %>
    <b><%= friend.email %></b>
  <% else %>
    <p><%= friend.email %></p>
  <% end %>
    <% end %>
  <h4>Invited</h4>
  <% end %>
</section>

<% end %>
