<div class="border-bottom">
  <h1>Hello again, <%= @user.email %></h1>
</div>

<div class="jumbotron pt-4">
  <%= form_with(model: @friendship, local: true) do |f| %>

    <%= render partial: "shared/form_errors", locals: {f: f} %>

    <div class="mb-3">
      <h2>Add Friend</h2>
    </div>

    <div class="mb-3">
      <%= f.text_field :email, class: "form-control", placeholder: "example@email.com" %>
    </div>

    <div class="d-grid gap-2">
      <%= f.submit "Add Friend", class: "btn btn-primary"%>
    </div>

  <% end %>

  <div class="pt-5">
    <h2>Your Friends</h2>
  </div>

  <% if @user.no_friends? %>
    <p>You have no friends, add some to get started!</p>
  <% else %>
    <%= render @user.all_friends %>
  <% end %>

  <div class="pt-5">
    <h2>Your Movie Parties</h2>
  </div>

  <% if @user.parties.any? %>
    <%= render partial: "users/party", collection: @user.parties %>
  <% else %>
    <p>You have no viewing parties, <%= link_to "search", discover_path %> a movie to create one!</p>
  <% end %>

  <div class="pt-5">
    <h2>Parties You've Been Invited To</h2>
  </div>

  <% if @user.party_invites.any? %>
    <%= render partial: "users/party", collection: @user.party_invites %>
  <% else %>
    <p>You have no party invites. Go make some friends.</p>
  <% end %>

</div>