<h1>Welcome <%= current_user.email %>!</h1>

<div>
  <%=link_to "Discover Movies", discover_index_path, class: "nav-link" %>
</div>
<div class="row">
  <section class="col-6" id="friends">
  <%= react_component("AddFriend")%>
    <div id="add_friend">
      <%= form_with url: friends_path,local: true, method: :post do |form| %>
        <%= form.label :email, 'Email:' %>
        <%= form.text_field :email, id: 'email' %>
        <%= form.submit 'Add friend' %>
      <% end %>
    </div>
    <% if current_user.follows.count == 0 %>
      <p>You currently have no friends</p>
    <% else %>
      <% current_user.followed.each do |friend| %>
        <p><%= friend.email %></p>
      <% end %>
    <% end %>
  </section>
  <div class="col-6">
    <section id="friends_parties">
      <% current_user.attendees.each_with_index do |attendee, index| %>
        <div id="<%= attendee.party.id %>">
          <p><b>Party <%= index + 1 %></b></p>
          <p><%= attendee.party.movie %></p>
          <p><%= attendee.party.date.strftime('%B %d, %Y') %></p>
          <p>&nbsp;<%= attendee.party.time.in_time_zone('Mountain Time (US & Canada)').strftime('%l:%M %P') %></p>
          <p>Attending</p>
        </div>
      <% end %>
    </section>
    <section id="my_parties">
      <% current_user.parties.each_with_index do |party, index| %>
        <div id="<%= party.id %>">
          <p><b>Party <%= index + 1 %></b></p>
          <p><%= party.movie %></p>
          <p><%= party.date.strftime('%B %d, %Y') %></p>
          <p><%= party.time.in_time_zone('Mountain Time (US & Canada)').strftime('%l:%M %P') %></p>
          <p>Hosting</p>
        </div>
      <% end %>
    </section>
  </div>
</div>
