<h1>
  <%= "Welcome, #{@user.email}!" %>
</h1>

<%= button_to "Discover Movies", "/discover", method: :get %>

<section>
  <h3>Friends</h3>
  <% if @user.friends.count == 0 %>
    You currently have no friends.
  <% else %>
    <ul>
      <% @user.friends.uniq.each do |friend| %>
        <li>
          <%= friend.email %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= form_with url: dashboard_index_path, method: :post, local: true do |f| %>
      <%= f.label :friend_search, "Add a friend by their email" %>
      <%= f.text_field :friend_search %>

      <%= f.submit "Add friend" %>
    <% end %>
  </div>
</section>

<section id="viewing_parties">
  <h3>
    Viewing Parties
  </h3>
  <p>Parties you're invited to:</p>
    <ul><% @watching_party.each do |party| %>
      <li>
        Title: <%= party.movie_title %>,
        Duration: <%= party.length %> minutes,
        Date: <%= party.date_of_party.strftime("%m/%d/%Y") %>,
        Time: <%= party.time_of_party.strftime("%H:%M") %> UTC
      <% end %>
      </li>
    </ul>
  <p>Parties you're hosting:</p>
</section>
