<% if current_user %>
  <%= button_to "Discover Some Movies!", discover_path, method: :get %>
<% end %>
<section id="parties">
  <% @parties[:hosting].each do |party| %>
    <p id="party-<%= party.id %>">
      Movie: <%= party.movie_title %><br>
      Date: <%= party.scheduled_date %><br>
      Time: <%= party.start_time %><br>
      Status: Hosting<br><br>
    </p>
  <% end %>
  <% @parties[:invited].each do |party| %>
    <p id="party-<%= party.id %>">
      Movie: <%= party.movie_title %><br>
      Date: <%= party.scheduled_date %><br>
      Time: <%= party.start_time %><br>
      Status: Invited<br><br>
    </p>
  <% end %>
</section>
