<h1>Welcome <%= "#{@user.user_name}" %>!</h1>

<%= button_to "Discover Movies", '/discover', :method => "get"  %>
<br>
<h3>Friends List</h3>
<%= form_with url: "/dashboard/", method: :get, local: true do |f| %>
<%= f.text_field :search %>
<%= f.submit "Add Friend" %>
<%end%>
<br>
<h3>Viewing Parties List</h3>