<h1>Hello again, <%= @user.email %></h1>

<% if @friends == [] %>
  <h3>You ain't got no friends.</h3>
<% end %>

<%= form_with(url: friendships_path, local: true) do |f| %>

  <div class="pt-5">
    <h2>Add Friend</h2>
  </div>

  <div class="mb-3">
    <%= f.text_field :email, class: "form-control", placeholder: "example@email.com" %>
  </div>

  <div class="d-grid gap-2">
    <%= f.submit "Add Friend", class: "btn btn-primary"%>
  </div>

<% end %>




<div class="pt-5">
  <h2>Your Friends</h2>
</div>

<%= render @friends %>
