<center>
  <%= button_to 'Discover Movies', '/discover', method: :get %>
</center>
<br>
<section class='friends'>
  <p>Friends</p>
  <hr>
  <%= form_tag '/friendships', method: :post %>
    <%= label_tag :friend_email, 'Email' %>
    <%= text_field_tag :friend_email, nil, placeholder: "Friend's Email" %>
  <%= submit_tag 'Add Friend' %>
  <%= render partial: '/partials/flash' %>
  <% if current_user.friends.empty?  %>
    <p>You currently have no friends</p>
  <% else %>
    <%current_user.friends.each do |friend|%>
      <%= friend.name %>
    <% end %>
  <% end %>
</section>
<br>
<section class='viewing-parties'>
  <p>Viewing Parties</p>
  <hr>
</section>
