<center>
  <%= button_to 'Discover Movies', '/discover', method: :get %>
</center>
<br>
<section class='friends'>
  <p>Friends</p>
  <hr>
  <% if current_user.friends.empty?  %>
  <p>You currently have no friends.</p>
  <% else %>
  <%current_user.friends.each do |friend|%>
  <%= friend.email %>
  <% end %>
  <br>
  <br>
  <%= form_tag '/friendships', method: :post %>
    <%= label_tag :friend_email, 'Email' %>
    <%= text_field_tag :friend_email, nil, placeholder: "Friend's Email" %>
  <%= submit_tag 'Add Friend' %>
  <%= render partial: '/partials/flash' %>
  <% end %>
</section>
<br>
<section class='viewing-parties'>
  <p>Viewing Parties</p>
  <% if !current_user.view_parties.empty? %>
    <% current_user.view_parties.each do |party| %>
      <div class="party-<%=party.id%>">
        <%= party.title %>
        <%= party.date %>
        <%= party.time %>
        <%= image_tag party.poster %>
      </div>
    <% end %>
  <% end %>
  <% if !current_user.party_guests.empty? %>
    <% current_user.party_guests.each do |party| %>
      <%= party.view_party.title %>
      <%= party.view_party.date %>
      <%= party.view_party.time %>
      <%= image_tag party.view_party.poster %>
    <% end %>
  <% end %>
  <hr>
</section>
