<h6>Viewing Parties</h6>
<% if !current_user.watch_parties.nil? %>
<% current_user.watch_parties.each do |viewing_party| %>
  <div id="party-<%= viewing_party.id %>">
    <!-- <div class="row row-cols-1 row-cols-md-6 g-9">
      <div class="col"> -->
        <div class="card-group">
          <img src="<%= viewing_party.chosen_movie.image_url %>" class="mx-auto card-img-top" alt="poster" style="width:180px;height:250px;">
          <div class="card-body">
            <h5 class="card-title"><%= viewing_party.movie %></h5>
            <p class="card-text">Day: <%= viewing_party.date.strftime('%a, %b %e') %></p>
            <p class="card-text">Time: <%= viewing_party.start_time.strftime('%I:%M %P') %></p>
    <% if viewing_party.user_id == current_user.id %>
    <p class="card-text">Hosting</p>
    <% else %>
    <p class="card-text">Invited</p>
    <% end %>
  </div>
  </div>
  </div>
  <br>
<% end %>
<% end %>
