<h1 align="center">Welcome Viewing Party</h1>

<section>
  Viewing party is an app that allows you to search movies, and create viewing parties you host for friends.
</section><br><br><br>

<% if current_user %>
  <%= link_to "Log out", '/logout', method: :delete %>
<% else %>
  <div class="login-form">
    <%= form_with url:'/login', method: :post, local: true do |f| %>
        <%= f.label :email, "Email: " %>
        <%= f.text_field :email %><br><br>
        <%= f.label :password, "Password: " %>
        <%= f.password_field :password %><br><br>
        <%= f.submit "Sign In" %><br><br><br>
    <% end %>
    <%= link_to "New to Viewing Party? Register Here", "/register" %><br><br><br><br>
  </div>

<% end %>
