<h1>Welcome <%= @user.email[/[^@]+/] %>!</h1><br><br>

<%= button_to "Discover Movies", discover_path %><br><br>

<div class="left">
<%= bootstrap_form_with(url: friendships_path, method: :post, class: 'form-inline', local: true) do |form|  %><h3 class="left">Friends</h3>&emsp;&emsp;
  <%= form.email_field :email, placeholder: "Friend's Email", skip_label: true %>
  &ensp;<%= form.submit 'Add Friend' %>
<% end %><hr>

<% if @friend_list.present? %>
  <% @friend_list.each do |friend| %>
    <p class="in"><%= friend.email %></p>
  <% end %>
<% else %>
  <h5>No Friends Currently</h5>
<% end %><br><br>

<h3>Viewing Parties</h3><hr><br><br>
<h4>Parties You're Hosting: </h4><br>
  <% @user.parties.each do |party| %>
    <div>
    <h5><%= party.title %></h5>
    <%= party.date.strftime("%B %d, %Y")%> 
    <%= party.start_time.strftime("%l:%M %p")%>
    </div><br>
  <% end %>
</div>

<h4>Parties You're Invited To: </h4><br>
  <% @user.invited_parties.each do |party| %>
    <div>
    <h5><%= party.title %></h5>
    <%= party.date.strftime("%B %d, %Y")%> 
    <%= party.start_time.strftime("%l:%M %p")%>
    <%= party.party_guests.each do |guest| %>
        guest.
    <% end %>
    </div><br>
  <% end %>
</div>

<%= link_to "Log out", '/logout', method: :delete %><br><br>
