<h1>Welcome <%= @user.email[/[^@]+/] %>!</h1><br><br>

<%= button_to "Discover Movies", discover_path %><br><br>

<div class="left">
<%= bootstrap_form_with(url: friendships_path, method: :post, class: 'form-inline', local: true) do |form|  %><h3 class="left">Friends</h3>&emsp;&emsp;
  <%= form.email_field :email, placeholder: "Friend's Email", skip_label: true %>
  &ensp;<%= form.submit 'Add Friend' %>
<% end %><hr>

<% if @friend_list.present? %>
  <% @friend_list.each do |friend| %>
    <p class="in"><%= friend.email %></p>
  <% end %>
<% else %>
  <h5>No Friends Currently</h5>
<% end %><br><br>

<h3>Viewing Parties</h3><hr><br><br>
<h4>Parties You're Hosting: </h4><br>
  <% @user.parties.each do |party| %>
    <div>
    <h5><%= link_to party.title, "/movies/#{party.movie_id}" %></h5>
    <%= party.date.strftime("%B %d, %Y")%> 
    <%= party.start_time.strftime("%l:%M %p")%>
    <h6>Party Guests: </h6>
    <ul>
      <% party.guests.each do |guest| %>
        <%if guest != current_user %>
          <li><%= guest.email %></li>
        <% end %>
      <% end %>
    </div><br>
  <% end %>
</div>

<h4>Parties You're Invited To: </h4><br>
  <% @user.invited_parties.each do |party| %>
    <div>
    <h5><%= link_to party.title, "/movies/#{party.movie_id}" %></h5>
    <%= party.date.strftime("%B %d, %Y")%> 
    <%= party.start_time.strftime("%l:%M %p")%>
    <h6>Party Guests: </h6>
    <ul>
      <% party.guests.each do |guest| %>
        <%if guest == current_user %>
          <li><b><%= guest.email%></b></li>
        <% else %> 
          <li><%= guest.email %></li>
        <% end %>
      <% end %>
    </ul>
    </div><br>
  <% end %>
</div>

<%= link_to "Log out", '/logout', method: :delete %><br><br>
