<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @friend.user %>
</p>

<p>
  <strong>User:</strong>
  <%= @friend.user %>
</p>

<p>
  <strong>Request status:</strong>
  <%= @friend.request_status %>
</p>

<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
