<h2>Welcome <%= current_user.username %></h2>
<h2><%= button_to "Find Top Rated Movies", "/movies", method: :get %>

<%= form_tag "/movies?search=true" do %>
<%= label_tag "Search Keywords" %><br>
<%= text_field_tag :keyword %><br>
<%= submit_tag "Find Movies" %>
<% end %>
