<h1><%= @films.count %> Movies</h1>

<%= button_to 'Find Top Rated Movies', movies_path, method: :get %>
<%= render partial: 'search' %>

<section class="section">
  <% @films.each do |film| %>
    <ul class="movie">
      <li class="title"><%= film.title %></li>
      <li class="vote_avg">Vote Average: <%= film.vote_average %></li>
    </ul>
  <% end %>
</section>
