<div class="search_bar">
  <%= button_to "Find Top Rated Movies", movies_path, method: :get, params: [search: "Top Rated"] %>
  <%= form_with url: movies_path, method: :get, local: true do |form| %>
    <%= form.text_field :search %>
    <%= form.submit "Search" %>
  <% end %>
</div>
<div class="results">
  <% if @results %>
    <% @results.each do |api_movie_id, movie_info| %>
      <p id="<%= api_movie_id %>">
        <%= link_to movie_info[:title], movie_path(api_movie_id) %><br>
        Average vote: <%= movie_info[:vote_average] %>
      </p>
    <% end %>
  <% end %>
</div>
