<div class="bg-image d-flex justify-content-center align-items-center"
    style="background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.jpg');
          height: 675vh; width: 100vw;"
    >
<div class="search_block">
<header>
  <center><h1>Search Results</h1></center>
  <div class="search_bar" style="width:90%; clear: both">
    <div style="display: inline-block; float: left; padding: 5px">
      <%= button_to "Find Top Rated Movies", movies_path, method: :get, params: [search: "Top Rated"] %>
    </div>
    <div style="display: inline-block; float: left; padding: 5px">
      <%= form_with url: movies_path, method: :get, local: true do |form| %>
        <%= form.text_field :search %>
        <%= form.submit "Search by Title" %>
      <% end %>
    </div>
  </div>
  <div style="clear: both"></div>
</header>
<center class="results">


  <% if @results %>
    <% if @results == {error: true} %>
      Sorry, there was a server error while processing your request!
    <% else %>
      <h4>We found <%= @results.count %> results</h4>
      <table style="width:90%">
        <th></th>
        <th></th>
        <% @results.each do |movie| %>
          <tr id="<%= movie.id %>">
            <td style="text-align: center"><img src="https://image.tmdb.org/t/p/w200<%=movie.poster_path%>" alt="<%= movie.title %>" style="max-height: 100px; max-width: 150px"></td>
            <td>
              <%= link_to movie.title, movie_path(movie.id) %><br>
              Average vote: <%= movie.vote_average %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% else %>
    <br> Oh no! No search results found.
  <% end %>
</center>
</div>

</div>
