<% if current_user %>
  <h1>Welcome <%= current_user.email %></h1>

  <%= link_to 'Find Top Rated Movies', movies_path(query: "top rated")%>

  <%= form_with url: movies_path, method: :get, local: true do |f| %>
    <%= f.label(:search, "Find Movies by Movie Title") %>
    <%= f.text_field :search, id: :search %>
    <%= f.submit("Find Movies", name: nil) %>
  <% end %>

  <% @movies.each do |movie| %>
    <h4><%= movie.title%>        Vote Average:  <%= movie.average%> </h4>
  <% end%>
<% end %>
