<%= form_with url: movies_path, method: :get, local: true do |form| %>
  <%= form.label :movie_search %>
  <%= form.text_field :movie_search %>
  <%= form.submit 'Find Movies' %>
<% end %>

<% if @top_rated %>
  <% @top_rated.each do |movie| %>
    <p><%= link_to "#{movie.title}", "/movies/#{movie.id}" %> <%= movie.rating %></p>
  <% end %>
<% else %>
  <% @movie_search_results.each do |movie| %>
    <p><%= link_to "#{movie.title}", "/movies/#{movie.id}" %> <%= movie.rating %></p>
  <% end %>
<% end %>
