<%= render 'users/navbar' %><br>

<h3>Welcome <%= @user.first_name %>! </h3><br>

<%= button_to 'Find Top Rated Movies', movies_path %>

<% form_with url: movies_path, method: :post, local: true do |form| %>
  <% form.label :search_by_movie_title, 'Search by movie title' %>
  <%= form.text_field :search_by_movie_title %>
  <%= button_to 'Find Movies', movies_path %>
<% end %>
