<h1>Welcome <%= current_user.email %>!</h1>
<%= react_component("TopRatedBtn")%>
<div class="row">
  <% @results.each do |movie| %>
  <div class="col-3">
    <div class="card">
      <img src="https://image.tmdb.org/t/p/w500/<%=movie[:poster_path]%>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= link_to movie[:title], movie_path(movie[:id]) %></h5>
        <p class="card-text">Vote Average: <%= movie[:vote_average] %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>