<%x = 0 %>
<%y = 20 %>
<%= button_to "Top Rated Movies", "/movies", method: :get %>

<%= form_tag "/movies", value: "Search", method: :get do %>
  <%= label_tag :search %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search' %>
<% end %>

<% @results.each do |movie_info| %>
  <div class="movie">
    <%=link_to "#{x+=1}. #{movie_info[:title]}", "/movies/#{movie_info[:id]}" %>
    <div class="vote">Vote average: <%=movie_info[:vote_average]%></div>
  </div>
<%end %>
