<h1>Hello, <%= current_user.email %>!</h1>
<h2>Discover Movies!</h2>

<section id="top_forty">
  <div class="container p-3 my-3 border">
    <%= button_to "Find Top Rated Movies", method: :get, remote: true, form: "top_forty" %>
    <% if params[:form] == "top_forty" %>
      <% @top_movies.each do |top_movie_and_rating| %>
        <%=link_to top_movie_and_rating[0], movie_path(top_movie_and_rating)[0][0] %>- Vote Average: <%= top_movie_and_rating[1] %><br>
      <% end %>
    <% end %>
  </div>
</section>
<br><br>

<section id="movie_query">
  <%= form_with url: discover_path, method: :get, local: true do |form| %>
    <%= form.text_field :movie_query, value: "Search by movie title" %>
    <%= form.submit "Find Movies" %>
  <% end %>

  <% if params[:movie_query] != nil %>
    <% @query_results.each do |movie| %>
      <%= link_to movie.title, movie_path(movie.api_id)%>- Vote Average: <%= movie.vote_average %><br>
    <% end %>
  <% end %>
</section>
