<h2>Welcome <%= current_user.email %></h2>
<%= button_to "Find Top Rated Movies", movies_index_path, method: :get %>

<%= form_with url: movies_index_path, local: true do |f|  %>
  <%= f.label :find_movie %>
  <%= f.text_field :find_movie %>
  <%= f.submit "Find Movies" %>
<% end  %>


  <section class="top-movies">
    <ul>
    <% if @movies %>
      <% @movies.each do |movie| %>
        <div id="movie-<%= movie.id %>">
          <li><%= link_to "#{movie.title}" %> Vote Average: <%= movie.vote_average %></li>
        </div>
        <br>
      <% end %>
    <% end %>
    </ul>
  </section>
