<% if current_user %>
 <section id="user-info">
   <h1>Welcome <%= current_user.email %>!</h1>
 </section>

  <%= link_to 'Find Top Rated Movies', movies_path(query: "top rated")%>

  <%= form_with url: movies_path, method: :get, local: true do |f| %>
    <%= f.label(:search, "Find Movies by Movie Title") %>
    <%= f.text_field :search, id: :search %>
    <%= f.submit("Find Movies", name: nil) %>
  <% end %>

 <section class="movies">
  <% @movies.each do |movie| %>
    <div id="movie-<%= movie.id %>">
    <h4><%= link_to "#{movie.title}", movie_path(movie.id)  %>        Vote Average:  <%= movie.average%> </h4>
    </div>
  <% end %>
  </section>
<% end %>