<header>
  <center><h1>Search Results</h1></center>
  <div class="search_bar" style="width:90%; clear: both">
    <div style="display: inline-block; float: left; padding: 5px">
      <%= button_to "Find Top Rated Movies", movies_path, method: :get, params: [search: "Top Rated"] %>
    </div>
    <div style="display: inline-block; float: left; padding: 5px">
      <%= form_with url: movies_path, method: :get, local: true do |form| %>
        <%= form.text_field :search %>
        <%= form.submit "Search by Title" %>
      <% end %>
    </div>
  </div>
  <div style="clear: both"></div>
</header>
<center class="results">
  <% if @results %>
  <h4>We found <%= @results.count %> results</h4>
    <table style="width:90%">
      <th></th>
      <th></th>
      <% @results.each do |api_movie_id, movie_info| %>
        <tr id="<%= api_movie_id %>">
          <td style="text-align: center"><img src="https://image.tmdb.org/t/p/w200<%=movie_info[:poster_path]%>" alt="<%= movie_info[:title] %>" style="max-height: 100px; max-width: 150px"></td>
          <td>
            <%= link_to movie_info[:title], movie_path(api_movie_id) %><br>
            Average vote: <%= movie_info[:vote_average] %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <br> Oh no! No search results found.
  <% end %>
</center>
