<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag "/movie_index.css" %>
  </head>
  <body class="welcome-page">
    <%x = 0 %>
    <%y = 20 %>

    <%= form_tag "/movies", value: "Search", method: :get do %>
      <%= label_tag :search %>
      <%= text_field_tag :search %>
      <%= submit_tag 'Search' %>
    <% end %>
    <section id="discover-movies" class="discover-movies" style="float:left;">
      <%= button_to "Top Rated Movies", "/movies", method: :get %>
    </section>
    <br>
    <br>
    <br>
    <br>

    <% @results.each do |movie| %>

    <div class="movies">
      <%if x.even? || x == 0%>
    <div class="card">
      <h4><%="#{x+=1}" %></h4>
      <br>
      <h5><%="#{movie.title}"%></h5>
        <div class="card-info">
          <h3>Vote average: <%=movie.vote_average%></h3>
          <p><%= movie.overview %></p>
          <br>
            <button><h6><%= link_to "#{movie.title}", "/movies/#{movie.id}" %></h6></button>
        </div>
    </div>
    <%else  %>

    <div class="card">
      <h4><%="#{x+=1}" %></h4>
      <br>
      <h5><%="#{movie.title}"%></h5>
        <div class="card-info">
          <h3>Vote average: <%=movie.vote_average%></h3>
          <p><%= movie.overview %></p>
          <br>
            <button><h6><%= link_to "#{movie.title}", "/movies/#{movie.id}" %></h6></button>
        </div>
    </div>
    <%end %>
    <%end %>

</div>

  </body>
</html>
