<h2 class="top_movies_btn"><%= button_to "Find Top Rated Movies", "/movies", method: :get %></h2>

<section class="search-bar">
<%= form_tag "/movies?search=true" do %>
<%= label_tag "Search Keywords" %><br>
<%= text_field_tag :keyword, nil, placeholder: "Search Keywords" %>
<%= submit_tag "Find Movies" %>
<% end %>
</section><br>

<% if @keyword %>
  <h1> Films related to <%= @keyword %> </h1>
<% else %>
  <h1>40 Top Rated Movies of All Time</h1>
<% end  %>

<table class="blockbusters">
<tr>
  <th>Title</th>
  <th>Vote Average</th>
</tr>
  <% @movies.each do |movie| %>
    <tr class="movie">
      <td class="title"><%= link_to movie.title, "/movies/#{movie.id}" %></td>
      <td class="vote-average">Vote Average: <%= movie.vote_average %></td>
    </tr>
  <% end %>
</table>
