<%= button_to 'Top Rated Movies', 'movies_path', method: :get %>

<%= form_tag movies_path, method: :get do %>
  <%= text_field_tag :query, 'Movie Name' %>
  <%= submit_tag 'Search' %>
<% end %>

<ol>
<% @movies.each do |movie| %>
  <li class='movie'>
    <div class='title' align='left'><%= link_to movie[:title], 'movies_show_path(movie.id)' %></div>
    <div class='rating' align='right'>Rating: <%= movie[:vote_average] %></div><br>
  </li>
<% end %>
</ol>
