<%= button_to "Top 40 Movies", movies_path, method: :get %>
<%= form_with url: movies_path, method: :get, local: true do |f| %>
  <%= f.label :movie_title, "Search for Movie by Title: " %>
  <%= f.text_field :movie_title, required: true %>
  <%= f.submit "Search" %>
<% end %>

<% if @top40 %>
  <% @top40.each do |movie| %>
      <p><%= link_to "#{movie.title}", movies_path(movie.api_id) %> <%= movie.rating %></p>
  <% end %>
<% else %>
  <% @search_results.each do |movie| %>
    <p><%= link_to "#{movie.title}", movies_path(movie.api_id) %> <%= movie.rating %></p>
  <% end %>
<% end %>
