<h1>Movies</h1> <%= @movies.count %>
<% @movies.each do |movie| %>
  <li><%= movie.title %></li>
<% end %>

<h1>Top movies</h1> <%= @top_movies.count %>
<% @top_movies.each do |movie| %>
  <li><%= movie.title %></li>
<% end %>

<h1>Reviews</h1>
<% @reviews.each do |review| %>
  <li><%= review.author %></li>
  <li><%= review.content %></li>
<% end %>