<h1>Movie Details For "<%= @movie.title %>"</h1>

<h2>Movie Details</h2>

<ul>
  <li>
    <p>Vote Average: <%= @movie.vote_average %></p>
    <p>Runtime: <%= @movie.runtime %></p>
    <p>Genres: <%= @movie.genres %></p>
    <p>Summary: <%= @movie.overview %></p>
    <p>Cast: </p>
    <%# binding.pry %>
    <% @movie.credits.cast.each do |member| %>
        <p><%= member[0]%> as <%= member[1]%></p>
    <% end %>
  </li>
</ul
