
  <%= button_to "Create Viewing Party for Movie", new_party_path(), method: :get, params: {:title=> @movie.title, :movie_id=> @movie.id, :duration=> @movie.runtime}%>

<section id="movie_info">
  <h1>Movie title:<%= @movie.title%></h1>
  <% @movie.genres.each do |gen|%>
    <p> Genres: <%= gen[:name] %> </p>
  <% end %>
  <p>This Movie is <%=@movie.runtime_hours %> hours and <%= @movie.runtime_mins %> minutes</p>
  <p> Average_Rating: <%= @movie.vote_average%></p>
  <p> Summary: <%= @movie.overview%></p>
</section>

<section id="movie_cast">
  <p>Actors and Actresses</p>
  <% @movie.cast.each do |name|%>
  <p><%= name[:name]%> as <%= name[:character]%></p>
  <% end%>
</section>

<section id="movie_reviews">
  <p> <%= @movie.reviews.count %> Reviews</p>
  <p><%@movie.reviews.each do |review| %>  </p>
    <p> Author:<%= review[:author] %></p>
    <p> Review: <%= review[:content] %></p>
  <% end %>
</section>
