<%= button_to 'Home', '/dashboard', method: :get %>
<h2><%= @movie.title %></h2>
<%= button_to "Create viewing party", "/movies/#{@movie.id}/party/new", method: :get %>
<h3>Vote average: <%= @movie.vote_average %></h3>
<h3>Run time: <%= @runtime%> minutes</h3>
<h3>Genres: </h3><% @movie.genres.each do |genre| %>
  <%= genre %>
  <%end %>
<h3>Overview: <%= @movie.overview %></h3>
<p style="font-weight:bold;">Cast:</p>
<%@cast.each do |per| %>
  <p><%= per.name %> as <%= per.character %></p>
<%end %>
<h3>Reviews: <%=@reviews.length %></h3>
<%@reviews.each do |rev| %>
  <p style="font-weight:bold;">Author: <%=rev.author %> </p>
  <p> Review: <%=rev.content %>
<%end %>
<h3>Recommendations</h3>
<% @recommendations.each do |recommendation| %>
  <p><%= recommendation.title %></p>
<% end %>
