<div class="row " >
  <div class="col-4">
    <img src="https://image.tmdb.org/t/p/w500/<%=@movie.poster_path%>" class="card-img-top" alt="..." >
  </div>
  <div class="col-8" style=" background-repeat: no-repeat; background-size: cover; <%= @movie.backdrop_path ? "background-image: url(https://image.tmdb.org/t/p/w500/#{@movie.backdrop_path}) " : nil %> ">
    <div class="p-0 m-0" style="background-color: rgba(0,0,0,0.5); width:100%; height: 100%;">
      <h5 class="card-title" style=" filter: invert(1) grayscale(1) contrast(9)"><%= @movie.title %></h5>
      <p class="card-text text-wrap" style="filter: invert(1) grayscale(1) contrast(9) "> Average Vote: <%= @movie.vote_average %> </p>
      <p class="card-text text-wrap" style="filter: invert(1) grayscale(1) contrast(9)"> Runtime: <%= convert_minutes_to_hours_and_minutes(100) %> </p>
      <p style="filter: invert(1) grayscale(1) contrast(9)"> Genres:
        <% @movie.genres.each do |genre| %>
        <span>
          <%= genre[:name] %>
        </span>
        <% end %>
      </p>
      <p style="filter: invert(1) grayscale(1) contrast(9)">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#videoModal">
          View Trailer
        </button>
        <div class="modal fade " id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content" style="height: 522px;">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/<%=@movie.video%>" id="Iframe" title="Movie Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">x</button>
            </div>
          </div>
        </div>
        <%=link_to "Create Viewing Party", new_party_path(movie_id: @movie.id) %>
      </p>
      <p style="filter: invert(1) grayscale(1) contrast(9);  font-family: 'Source Code Pro', monospace; font-size: 1.5rem"> 
        <%= @movie.overview %>
      </p>      
    </div>
  </div>
</div>
<div class="container-fluid px-0 mt-2 mx-n2" >
<h5>Cast</h5>
<div style="overflow-x: scroll; overflow-y: hidden; white-space: nowrap;">
  <% @movie.cast.each do |cast| %>
    <div class="col-2 align-items-stretch" style="display: inline-block; width: 13rem;">
      <div class="card" style=" width: 12rem;">
          <img src="https://image.tmdb.org/t/p/w500/<%=cast[:profile_path]%>" class="card-img-top" alt="...">
        <div class="card-body" style="height: 125px;">
          <h5 class="card-title"><%= cast[:name] %></h5>
          <p class="card-text text-wrap">As: <%= cast[:character] %></p>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-2 align-items-stretch"style="display: inline-block; width: 13rem;">
    <div class="card" style=" width: 12rem;">
      <div class="card-body" style="height: 125px;">
        <p class="card-text text-wrap"><%=link_to "See All Cast And Crew", class: 'disabled' %> </p>
      </div>
    </div>
  </div>
</div>
<section id="reviews" class="container">
  <h5><%= @movie.reviews.count %> reviews</h5>
  <% @movie.reviews.each do |review| %>
  <div class="col-12 ">
    <div class="card pb-2">
      <h5 class="card-title">
        <img class="rounded-circle" height="100px" width="100px" src="<%=review[:author_details][:avatar_path] != nil ? "https://image.tmdb.org/t/p/w500/#{review[:author_details][:avatar_path]}" : "https://nerdist.com/wp-content/uploads/2020/07/maxresdefault.jpg"%>" >
        Author: <%=  review[:author]%>
      </h5>
      <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">Rating: <%= review[:author_details][:rating] %></h6>
      <p class="card-text text-wrap"><%= review[:content] %></p>
    </div>
  </div>
  <% end %>
</section>