<h2>Welcome <%= current_user.email %></h2>

<section class="overview">
  <h2><%= @movie.title %></h2>
  <h4>Vote average: <%= @movie.vote_average %>   Runtime: <%= @movie.runtime_hours_mins %>   Genres: <%= @movie.genre_names %></h4>
  <p><%= @movie.summary %></p>
</section>

<section class="cast">
  <h3>Cast:</h3>
    <ul>
      <% @cast.each do |cast| %>
        <li><%= cast.name %> as <%= cast.character %></li>
      <% end %>
    </ul>
</section>

<section class="reviews">
  <h3>Reviews <%= @reviews.count %>:</h3>
    <ul>
      <% @reviews.each do |review| %>
        <li><%= review.author %></li>
        <p><%= review.review %></p>
      <% end %>
    </ul>
</section>
