<h1> Movie Details Page for: <%= @movie.title %></h1>

<h3> Vote Average:</h3><p><%= @movie.vote_average %></p>
<br>
<h3> Runtime:</h3><p><%= @movie.runtime %></p>
<br>
<h3> Genres:</h3><p><%= @movie.genres_translated %></p>
<br>
<h3> Summary:</h3><p><%= @movie.overview %></p>
<br>
<h3> Cast Members:</h3>
<% @movie.first_10_cast_members.each do |cast_member| %>
  <p><%= cast_member.name %>, <%= cast_member.character %></p>
  <% end %>
<br>
<h3> Number of Reviews:</h3><p><%= @movie.total_results %></p>
<% @movie.reviews.each do |review| %>
  <h5> Author:</h5><p><%= review.author.name %></p>
  <h5> Review:</h5><p><%= review.content %></p>
<% end %>
