<%= render 'users/navbar' %><br>

<h3><%= @movie.title %><h3><br>

<%= button_to "Create Viewing Party", new_party_path, method: :get, local: true, params: { movie_id: @movie.id } %><br>

<table class="movie-info-table">
    <tr>
      <th>Vote Average: <%= @movie.vote_average %></th>
      <th>Runtime: <%= @movie.runtime %></th>
      <th>Genres:</th>
    </tr>
    <tr>
        <td><%= @movie.vote_average %></td>
        <td><%= @movie.runtime %></td>
    </tr>
</table>
