<div>
<h1 class = 'title_show_page'> <%= @movie.title %> </h1>
<%= button_to 'Create Viewing Party for Movie', new_movie_viewing_party_path(@movie.api_movie_id), method: :get, params: {title: @movie.title, runtime: @movie.runtime_min, movie_id: @movie.api_movie_id} %>
</div><br>
<div class = 'stats'>
  <div class = 'vote_average' align = 'left'> Vote Average: <%= @movie.rating %> </div>
  <div class = 'runtime' align = 'center'> Runtime: <%= @movie.runtime_display %></div>
  <div class = 'genre' align = 'right'> Genre(s): <%= @movie.genres %> </div>
</div><br>
<h4> Summary </h4><br>
<div class = 'summary'>
  <p> <%= @movie.overview %> </p>
</div>
<h4> Cast </h4><br>
<div class = 'cast'>
  <ul>
    <% @cast.each do |actor| %>
    <li class = "member"> <%= actor.name %> as <%= actor.character %> </li>
    <% end %>
  </ul>
</div><br>
<h4> <%= @reviews.count %> Reviews </h4><br>
<div class = 'reviews'>
  <% @reviews.each do |review| %>
  <p class = 'author'> Author: <%= review.author %> </p>
  <p class = 'content'> <%= review.content %> </p>
  <% end %>
</div>
<h2>Recommendations</h2>
<div>
  <ol class="recommendations">
    <% @movie.recommendations[0..9].each do |film| %>
      <li class="recommendation-link"><%= link_to film.title, movie_path(film.api_movie_id) %></li>
    <% end %>
  </ol>
</div>
<h2>Similar</h2>
<div>
  <ol class="similar">
    <% @movie.similar[0..9].each do |film| %>
      <li class="similar-link"><%= link_to film.title, movie_path(film.api_movie_id) %></li>
    <% end %>
  </ol>
</div>
