<%= button_to 'Create Viewing Party for Movie', viewing_party_new_path, method: :get, params: { title: @movie.title, duration: @movie.runtime, movie_id: @movie.api_id} %>

<h1><%= @movie.title %></h1>
<h1><%= @movie.rating %></h1>
<p><%= @movie.format_time(@movie.runtime) %></p>
<% @movie.genres.each do |genre| %>
  <p><%= genre %></p>
<% end %>
<p><%= @movie.summary %></p>

<h3>Cast</h3>
<% @cast_members.each do |member| %>
  <p><%= member.name %> as <%= member.character %></p>
<% end %>

<% if !@reviews.empty? %>
  <h3><%= @reviews.size %> Review(s)</h3>
  <% @reviews.each do |review| %>
    <p>Author: <%= review.author %></p>
    <p>Review: <%= review.content %></p>
  <% end %>
<% else %>
  <h2>There are currently no reviews for this movie</h2>
<% end %>
