<section class='movie-info'>
  <section class = 'title'>
    <%= @movie.info.title %>
  </section>
  <section class = 'vote_average'>
    <%= @movie.info.vote_avg %>
  </section>
  <section class = 'runtime'>
    <%= @movie.info.runtime %>
  </section>
  <section class = 'genres'>
    <% @movie.info.genres.each do |genre| %>
      <%= genre %>
    <% end %>
  </section>
  <section class = 'overview'>
    <%= @movie.info.overview %>
  </section>
</section>
<section class = 'cast'>
  <% @movie.cast.members.each do |name, character| %>
  <p class= 'member'>
      <%= name %> as <%= character %>
    </p>
    <% end %>
</section>
<section class = 'reviews'>
  <% @movie.reviews.each do |review| %>
      <p>Author: <%= review.author %>
      <%= review.content %>
      </p>
    <% end %>
</section>
