<h2><%= @movie.original_title %></h2>
<p>Average Rating: <%= @movie.vote_average %> | Runtime: <%= @movie.runtime %> mins | Genre(s): <%= @movie.genre_names %> </p>
<hr>
<h5>Summary</h5>
<p> <%= @movie.summary %> </p>
<h5>Cast</h5>
<% @cast.each do |cast_member| %>
<p><%= cast_member[:name] %> as <%= cast_member[:character] %></p>
<% end %>
<hr>
<% if @reviews.any? %>
  <h5><%= @reviews.count %> Reviews</h5>
  <% @reviews.each do |review| %>
    <p>Author: <%= review[0] %></p>
    <p><%= review[1] %></p>
  <% end %>
<% end %>
