<h2><%= @movie[:title] %></h2>
<h3>Vote average: <%= @movie[:vote_average] %></h3>
<h3>Run time: <%= @runtime%> minutes</h3>
<h3>Genres: <%= @movie[:genres][0][:name] %></h3>
<h3>Overview: <%= @movie[:overview] %></h3>
