<h1>Hello, <%= current_user.email %>!</h1>

<%= button_to "Create Viewing Party for Movie", new_party_path, method: :get %>

<section id="movie_info_basics">
  <h2><%= @movie_info[:title]  %></h2>
  <p>Vote Average: <%= @movie_info[:vote_average] %> | Runtime: <%= @movie_info[:runtime] %> minutes |
    Genre(s): <% @movie_info[:genres].each do |genre| %>
      <%= genre %>
    <% end %>
    <br>
  <h4>Summary:</h4>
  <p><%= @movie_info[:summary] %></p>
</section>

<section id="movie_cast">
  <h4>Cast:</h4>
  <% @movie_info[:cast].each do |cast_member| %>
    <%= cast_member[0] %> / <%= cast_member[1] %><br>
  <% end %>
</section>
<section id="movie_reviews">
  <h4><%= @movie_info[:reviews][:total_reviews]%> Reviews</h4>
  <% @movie_info[:reviews].each_with_index do |review, index| %>
    <% if index > 0 %>
      <p>Author: <%= review[0] %></p>
      <p><%= review[1] %></p><br>
    <% end %>
  <% end %>
</section>

<h3></h3>
