<h1>Welcome <%="#{current_user[:email]}!"%></h1>
<%= button_to "Create Viewing Party For Movie", "/viewing_party/new"%>
<h2>Title: <%=@movie[:original_title] %></h2>
</br>
<h2>Runtime: <%=@movie[:runtime] %></h2>
</br>
<h2>Genre:<%@movie[:genres].each do |genre| %></h2>
  <h2><%=genre[:name]%></h2>
<%end%>
</br>
<h2>Summary: <%=@movie[:overview] %></h2>
</br>
<h2>Vote Average: <%=@movie[:vote_average]%></h2>
</br>
<h2>Vote Count: <%=@movie[:vote_count]%><h2>
</br>
<h2>Characters and Cast: <%@cast[:cast].take(10).map do |member|%>
                          <h2><%="#{member[:character]} is played by Actor/Actress #{ member[:name]}."%></h2>
                          <%end%>
</br>                          
<h2>Reviews: <%@reviews[:results].each do |result|%><h2>
  <% if result != nil%>
    <h2>Author: <%=result[:author]%><h2>
    <h2>Content: <%=result[:content]%><h2>
  <% else %>
    <% "Your selected movie has no review content."%>
  <%end%>
<%end%>