<%= button_to 'Create Viewing Party for Movie', viewing_party_new_path, method: :get, params: { title: @movie.title, duration: @movie.runtime } %>

<h1><%= @movie.title %></h1>
<h1><%= @movie.rating %></h1>
<p><%= @movie.format_time(@movie.runtime) %></p>
<% @movie.genres.each do |genre| %>
  <p><%= genre %></p>
<% end %>
<p><%= @movie.summary %></p>

<h3>Cast</h3>
<% @cast_members.each do |member| %>
  <p><%= member %></p>
<% end %>

<h3><%= @reviews.size %> Review(s)</h3>
<% @reviews.each do |review| %>
  <p>Author: <%= review[0] %></p>
  <p>Review: <%= review[1] %></p>
<% end %>
