<h3><%= @movie.title %><h3><br>
  
<%= button_to "Create Viewing Party", parties_new_path, method: :get, local: true, params: { movie_id: @movie.id } %>

<table class="movie-details-table">
    <tr>
      <th>Vote Average</th>
      <th>Runtime</th>
      <th>Genres</th>
    </tr>
    <tr>
        <td><%= @movie.vote_average %></td>
        <td><%= @movie.runtime %></td>
        <td>
          <ul><% @movie.genres.each do |genre| %>
            <li><%= genre[:name] %></li>
          <% end %></ul>
        </td>
    </tr>
</table>

<h2>Summary</h2>
<%= @movie.overview %>

<h2>Cast</h2>
<ol>
  <% @movie.cast.each do |member| %>
    <li><%= member[:name] %> as <%= member[:character] %></li>
  <% end %>
</ol>

<h2>Reviews<h2>
<h3>Total Number of Reviews: <%= @movie.reviews.size %></h3>
<% @movie.reviews.each do |review| %>
  <h3>Written By: <%= review[:author] %></h3>
  <p> <%= review[:content] %></p>
<% end %>
