<h1>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h1>
<h2><%= button_to 'Find Top Rated Movies', '/movies/top_rated', method: 'get' %></h2>
<%= form_with url: '/movies', method: 'get', local: true do |f| %>
  <%= f.text_field :movie_title , placeholder: "Search by movie title"%>
  <%= f.submit "Find Movies" %>
<% end %>
<ol>
  <% @top_movies.each do |movie| %>
  <section id='movie-<%= movie[:id] %>' class="movie-column">
      <li><%= link_to movie[:title], "/movies/#{movie[:id]}" %></li>
  </section>
  <div class="vote-column">
      Vote Average: <%= movie[:vote_average] %>
  </div>
  <% end %>
</ol>
