<h2>Create a Viewing Party for <%= @movie_info[:title] %></h2>
<%= form_with model: @party, local: true do |f| %>
  <%= f.label :duration, "Duration of Party:" %>
  <%= f.number_field :duration, value: @movie_info[:runtime] %> <br>
  <%= f.label :scheduled_date, "Day:" %>
  <%= f.date_field :scheduled_date %> <br>
  <%= f.label :start_time, "Start Time:" %>
  <%= f.time_field :start_time %><br><br>
  <section id="friends">
    <% current_user.following.each do |friend| %>
      <%= f.checkbox_tag "friend-#{friend.id}".to_sym %>
      <%= f.label :friend, friend.name %><br>
    <% end %>
  </section><br><br>
  <%= f.submit "Create Party" %>
<% end %>
