<h1>Register</h1>

<%= form_with model: @user, local: true do |form| %>

  <%= render partial: "shared/form_errors", locals: {f: form} %>

    <div class="mb-3">
      <%= form.label :email %><br/>
      <%= form.text_field :email, class: "form-control", placeholder: "example@email.com" %>
    </div>

    <div class="mb-3">
      <%= form.label :password %><br/>
      <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    </div>

    <div class="mb-3">
      <%= form.label :password_confirmation %><br/>
      <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
    </div>

    <div class="mb-3">
      <%= form.submit class: "btn btn-primary"%>
    </div>

<% end %>

<%= link_to "I already have an account", login_path %>
