<body class="form-page">
  <center>
    <br>
    <br>
    <br>
    <br>
    <%= form_tag "/users", value: "Register", method: :create do %>
    <legend><span class="number"></span> Register User</legend>
      <%= label_tag :username %>
      <%= text_field_tag :username %>
      <%= label_tag :email %>
      <%= text_field_tag :email %>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
      <%= label_tag :password_confirmation %>
      <%= password_field_tag :password_confirmation %>
      <%= submit_tag 'Register New User' %>
    <% end %>
  </center>
</body>
