<h1 align= "center">Register User</h1>
  <center>
    <div class='form'>
      <%= form_for :user, :as => :user do |f| %>

        <%= f.label :email %><br>
        <%= f.text_field :email %><br><br>

        <%= f.label :password %><br>
        <%= f.password_field :password, value: nil %><br><br>

        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation %><br><br>

        <%= f.submit 'Register New User' %><br>
      <% end %><br>

      <%= link_to 'Already Have an Account? Log in Here', '/' %>
    </div>


</center>
