<h1>Enter Your Email and Create Password</h1>

<%= form_with model: @user do |f| %>
  <%= f.label :email, 'Email:' %>
  <%= f.text_field :email %></br><br/>
  <%= f.label :password, 'Password:' %>
  <%= f.password_field :password %></br><br/>
  <%= f.label :password_confirmation, 'Confirm Password:' %>
  <%= f.password_field :password_confirmation %></br><br/>
  <%= f.submit 'Register' %>
<% end %>