
<h1>Welcome, <%=current_user.email%>!</h1>
<%= button_to 'Discover Movies', discover_path, method: :get %>



<h2>My Friends:</h2>
<br>

<section id="friendships">

<% if current_user.no_friends? %>
  <h3>You currently have no friends.</h3>
  <br>
<% else %>
  <% current_user.followers.each do |follower| %>
    <p><%= follower.email %></p>
    <br>
  <% end %>
<% end %>


<%= form_with url: dashboard_path, method: :post, local: true do |form| %>
  <%= form.label :user_search, 'Search For New Friend:' %>
  <%= form.text_field :user_search, id: :user_search %>
  <%= form.submit 'Add Friend' %>
<% end %>

</section>

<h2>Viewing Parties</h2>
<section id ="hostin-parties">

<%current_user.events.each do |event|  %>
<%if event.user_id == current_user.id %>
<ul>
  <li><%=event.title%></li>
  <li><%=event.date %></li>
  <li><%=event.time  %> </li>
  <li>Hosting</li>
  <%event.attendees.each do |attendee| %>
  <ul>
    <li> <%= attendee.user.email %> </li>
  </ul>
  <%end%>
</ul>
<% end %>
<%end%>
</section>

<section id ="invited-parties">

  <%current_user.events.each do |event|  %>
  <% if event.user_id != current_user.id %>
  <ul>
    <li><%=event.title%></li>
    <li><%=event.date %></li>
    <li><%=event.time  %> </li>
    <li> <%=event.user.email %> is hosting </li>
    <%event.attendees.each do |attendee| %>
    <ul>
      <li> <%= attendee.user.email %> </li>
    </ul>
    <%end%>
  </ul>
  <% end %>
  <%end%>
</section>
