<h1><%= "Welcome #{current_user}!" %></h1>
<%= link_to "Log out", '/logout', method: :delete %>
<br>
<br>
<br>
<%= button_to "Discover Movies" %>
<br>
<h1><%= "Friend List" %></h1>
<br>
<h1><%= "Viewing Parties" %></h1>