<div class='topnav'>
  <%= link_to "Discover Movies", discover_path %>
</div>

<h1>Hello, <%= current_user.email %>!</h1>

<h2>Viewing Parties</h2>

<section id="hosting-viewing-parties">
  <%= @user_hosting_parties.each do |party| %>
    <h3>Movie Title: <%= party.movie_title %></h3><br>
    <h3>Date and Time of Event: <%= party.date %></h3><br>
    <h3>Duration: <%= party.duration %></h3><br>
    <h3>Hosting: <%= current_user.email %></h3><br>
    <h3>Invited:</h3><br>
  <% end %>
</section>
<section id="invited-viewing-parties">
  <h3>Movie Title:</h3><br>
  <h3>Date and Time of Event:</h3><br>
  <h3>Hosting:</h3><br>
  <h3>Invited: <%= current_user.email %></h3><br>
</section>

<section id="friends-<%= current_user.id %>">
<h2>Friends</h2>
<% if current_user.friends.empty? %>
  <p>"You currently have no friends"</p>
<% else %>
    <% current_user.friends.each do |friend| %>
      <li><%= friend.email %></li>
    <% end %>
<% end %>
<%= form_with url: dashboard_friendships_path, local: true, method: :post do |f| %>
  <%= f.email_field :email %>
  <%= f.submit 'Add Friend' %>
<% end %>
</section>
