<%= render 'navbar' %><br>

<h2>Welcome <%= @user.full_name %>!</h2><br>

<h5>You can now invite your friends and start viewing parties!</h5><br>

<h5>Viewing Parties</h5>
<hr style="width:50%", size="10", color=black>

<h6>Parties You're Hosting:</h6>
  <% @user.parties.each do |party| %>
  <h6><%= link_to party.title, "/movies/#{party.movie_id}" %></h6>
  <h6><%= party.date.strftime('%l:%M %p') %></h6>

<%= link_to "Log Out", logout_path %>
<section id='friends'>
  <h5>Friends</h5>
  <%= form_with model: @friendship, method: :post, local: true do |f| %>
    <%= f.label :friend_email, "Friend's Email:" %>
    <%= f.text_field :friend_email %>
    <%= f.submit 'Add Friend' %>
  <% end %>
 <% if current_user.friends.empty? %>
    <p>You currently have no friends</p>
 <% else %>
   <% current_user.friends.each do |friend| %>
   <%= friend.full_name %>
   <% end %>
 <% end %>
</section>
