<div class='topnav'>
  <%= link_to "Discover Movies", discover_path %>
</div>

<h1>Hello, <%= current_user.email %>!</h1>

<h2>Viewing Parties</h2>

<section id="hosting-viewing-parties">
  <h3>Movie Title:</h3><br>
  <h3>Date and Time of Event:</h3><br>
  <h3>Hosting: <%= current_user.email %></h3><br>
  <h3>Invited:</h3><br>
</section>
<section id="invited-viewing-parties">
  <h3>Movie Title:</h3><br>
  <h3>Date and Time of Event:</h3><br>
  <h3>Hosting:</h3><br>
  <h3>Invited: <%= current_user.email %></h3><br>
</section>

<section id="friends-<%= current_user.id %>">
<h2>Friends</h2>
<% if current_user.friendships.empty? %>
  <p>"You currently have no friends"</p>
<% else %>
    <% current_user.friendships.each do |friend| %>
      <p><%= friend.email %></p>
    <% end %>
<% end %>
<%= form_with url: new_dashboard_friendship_path, local: true, method: :get do |f| %>
  <%= f.text_field :email, value: "Friend's Email" %>

  <%= f.submit 'Add Friend' %>
<% end %>
</section>
