<%= render 'navbar' %><br>

<h2 align='center'>Welcome <%= current_user.full_name %>!</h2><br>

<h5 align='center'>You can now invite your friends and start a viewing party!</h5><br>

<section id='friends'>
  <h5>Friends</h5>
<hr style="width:50% length:80%", size="10", color=black>
  <%= form_with model: @friendship, method: :post, local: true do |f| %>
    <%= f.label :friend_email, "Friend's Email:" %>
    <%= f.text_field :friend_email %>
    <%= f.submit 'Add Friend' %>
  <% end %><br>

 <% if current_user.friends.empty? %>
    <p>You currently have no friends</p>
 <% else %>
   <b>List of Friends:</b><br>
   <% current_user.friends.each do |friend| %>
   <%= friend.full_name %>
   <% end %>
 <% end %><br><br>
</section>

<hr style="width:50% length:80%", size="10", color=black><br><br>

<section id='parties'>
<h5>Viewing Parties</h5>
<hr style="width:50% length:80%", size="10", color=black>
  <% current_user.parties.each do |party| %>
  <div class="card", id='party-<%= party.id %>'>
    <ul>
      <img src="<%= party.movie_poster_url %>" alt="<%= party.movie_title %>" align="center"><br><br>

      <strong><%= link_to party.movie_title, movie_path(party.movie_id) %></strong>
      <li><%= party.date.strftime("%B %d, %Y") %></li>
      <li><%= party.time.strftime("%l:%M %p") %></li>
      <li id='party-host'>Host: <% if party.host == current_user %>
                  You are the host
                <% else %>
                  <%= party.host.full_name %>
                <% end %>
      </li>
      <li id='party-invited'>Attendees: <% party.invited_users.each do |invited| %>
                    <ul>
                      <% if invited == current_user %>
                        <li><b><%= invited.full_name %></b></li>
                      <% else %>
                        <li><%= invited.full_name %></li>
                      <% end %>
                    </ul>
                    <% end %>
      </li>
    </ul>
  </div>
  <% end %><br><br>
</section>
