<body class="welcome-page">
  <div class="welcome-container">
    <h1>Welcome <%= @user.username %></h1>
  </div>

  <div class="container2">
    <img src="https://i.ibb.co/R7w3WQf/Screen-Shot-2020-10-13-at-5-39-48-PM.png" class="welcome" alt="welcome">
  </div>

  <section id="discover-movies" class="discover-movies">
    <%= button_to "Discover Movies", discover_index_path, method: :get %>
  </section>


  <section id="friends">
    <%= form_tag "/dashboard", method: :post do %>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    <%= submit_tag 'Add Friend' %>
    <% end %>
  </section>

  <h2>Check Out Yo Friends</h2>
  <% if @user.friends.empty? %>
    <p>You currently have no friends.</p>
  <% else %>
    <% @user.friends.each do |friend| %>
        <%= friend.username %>
      <% end %>
  <% end %>
  <br>
  <br>
  <% if current_user.movie_parties.empty?  && !current_user.been_invited?%>
    <p>You haven't created any viewing parties yet nor have been invited to any yet.</p>
  <% elsif !current_user.movie_parties.empty? && !current_user.been_invited? %>
    <h2>Check Out Yo Viewing Parties: </h2>
      <% current_user.movie_parties.each do |party| %>
        <div class="viewing-parties">
        <p style="font-weight:bold;">Hosting</p>
        <p>Movie: <%= party[:movie_title] %></p>
        <p>On: <%= party.date %></p>
        <p>At: <%= party.start_time %></p>
        <p>With: </p>
          <% party.find_friends(@user).each do |friend| %>
              <%= friend.username %>
            <%end %>
          </div>
        <%end %>
  <% elsif !current_user.movie_parties.empty? && current_user.been_invited? %>
    <h2>Check Out Yo Viewing Parties: </h2>
    <% current_user.movie_parties.each do |party| %>
      <div class="viewing-parties">
        <p style="font-weight:bold;">Hosting</p>
        <p>Movie: <%= party[:movie_title] %></p>
        <p>On: <%= party.date %></p>
        <p>At: <%= party.start_time %></p>
        <p>With: </p>
        <% party.find_friends(@user).each do |friend| %>
            <%= friend.username %>
          <%end %>
        </div>
      <%end %>
  <%else %>
    <%current_user.find_parties.each do |party| %>
      <div class="invited-parties-<%=party.id%>">
        <p style="font-weight:bold;">Invited</p>
        <p>Movie: <%= party[:movie_title] %></p>
        <p>On: <%= party.date %></p>
        <p>At: <%= party.start_time %></p>
        <p>With: </p>
        <% party.find_friends(@user).each do |friend| %>
            <%= friend.username %>
          <%end %>
          <%= party.find_host[:username] %>
          <p style="font-weight:bold;"> Hosted by: <%= party.find_host[:username] %></p>
          <p>===================</p>
        </div>
      <%end %>
  <%end %>

</body>
