<%= link_to "Log Out", logout_path %>
<%= button_to "Discover Movies", discover_path, method: :get %>

<section>
  <%= form_with  model: @friendship, local: true do |f| %>
    <%= f.label :email, "Email: " %>
    <%= f.email_field :email %>
    <%= f.submit "Add Friend" %>
  <% end %>
  <h2>Current Friends</h2>
  <% if current_user.friendships.empty? %>
      <p>You currently have no friends</p>
  <% else %>
    <% current_user.friends.each do |friend| %>
      <%= friend.email %>
    <% end %>
  <% end %>
</section>

<section>
  <% @parties.each do |party| %>
    <div id="party-<%= party.id %>">
      <p>Movie: <%= party.movie_title %></p>
      <p>Date: <%= party.date %></p>
      <p>Start Time: <%= party.start_time %></p>
      <p>Duration: <%= party.duration %> mins</p>
      <p>Host: <%= party.host %></p>
      <p>Invited:</p>
      <% party.invited_email.each do |email| %>
        <% if email == current_user.email %>
          <strong><%= email %></strong>
        <% else %>
          <p><%= email %></p>
        <% end %>
    </div>
    <% end %>
  <% end %>
</section>
