<center>
<h1>Welcome, <%= @user.email %>!</h1>

<div id="friends">
<h2>Friend's List</h2>
  <% @user.friends.each do |friend| %>
    <p><%= friend.email %></p>
  <% end %>
<%= form_for :friend, :as => :user do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %><br />
  <%= f.submit 'Add New Friend' %>
<% end %>
</div>
<br>
<br>
<br>
<br>
<%= button_to 'Discover Movies', '/discover', method: :get %>
</center>
