<%= link_to "Log out", '/logout', method: :delete %>
<br>
<br>
<br>
<%= button_to "Discover Movies" %>
<br>
<h2><%= "Friend List" %></h2>
<li><%= 'friend' %></li>
<br>
<h2><%= "Viewing Parties" %></h2>
<li><%= 'party' %></li>