<h1>Welcome, <%= @user.email %>!</h1>
<%= button_to "Discover Movies", '/discover', method: :get %>

<section class="friends">
  <h3>Friends:</h3>
  <%= form_tag dashboard_path, method: :post do %>
    <%= label_tag :friend_email %>
    <%= search_field_tag :friend_email %>
    <%= submit_tag 'Add Friend' %>
  <% end %>

  <% if @user.friends.empty? %>
    <p> You currently have no friends </p>
  <% else %>
    <% @user.friends.each do |friend| %>
      <p> <%= friend.email %> </p>
    <% end %>
  <% end  %>
</section>

  <h3>Viewing Parties:</h3>
  <% @user.parties.each do |party|  %>
    <section id="party-<%= party.id %>">
      <%= party.movie_title %><br>
      <p>Date: <%= party.convert_date %></p>
      <p>Start time: <%= party.convert_time %></p>
      <p>Status: <%= party.user_id == current_user.id ? "Hosting":"Invited" %></p>
    </section>
  <% end %>
