<h1>Create a Viewing Party for: </h1>
<h2><%= @movie.title %></h2>
 
<%= bootstrap_form_with(model: @party, url: parties_path, local: true, method: :post) do |f| %>
  <%= f.hidden_field :movie_id, value: @movie.id %>
  <%= f.hidden_field :title, value: @movie.title %>
  <%= f.date_field :date, placeholder: "Date:" %>
  <%= f.time_field :start_time, placeholder: "Start Time:" %>
  <%= f.text_field :duration, placeholder: "Party Duration(in minutes):", value: @movie.runtime, min: 0 %>
  <% if @friends.present? %>
    <h2> Invite: </h1>
    <% @friends.each do |friend| %>
      <%= check_box("friend", friend.id) %>
      <%= friend.email %><br><br>
    <% end %>
  <% end %>
  <%= f.submit "Create Party" %>
<% end %>

