<h1>Welcome to our Viewing Party App</h1>

<h2>This app allows you to create a viewing party to watch a movie with your friends!</h2>

<h3>
<%= form_with url: "/login", method: :post, local: true do |f| %>
  <%= f.label :email, "Email: " %>
  <%= f.text_field :email %><br/>
  <%= f.label :password, "Password: " %>
  <%= f.password_field :password %><br/>
  <%= f.submit "Log in" %>
<% end %>
</h3>

<h3><%= link_to 'Link to Registration', '/register' %></h3>


