<h1> This is Viewing Party!</h1>

<h3> This app allows you to add friends and have events to view movies!</h3>

<div class="login">
  <%= form_with url: login_path, method: :post, local: true do |f| %>
    <%= f.label "Email: " %>
    <%= f.text_field :email %>
    <%= f.label "Password: "%>
    <%= f.password_field :password %>
    <%= f.submit "Log In" %>
  <% end %>
</div>
<%= button_to "Register", registration_path(), method: :get %>



<div class="container team" style = "margin-top:15px">
  <div class="row">

    <div class="card col-lg-3 col-md-3 col-sm-6 text-center" style="display: inline-block; width:33%">
      <img class="card-img-top rounded-circle" src="https://avatars.githubusercontent.com/u/70593322?v=4" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Dominic Padula</h4>
        <p class="cardtext">Software Developer</p>
      </div>
    </div>

    <div class="card col-lg-3 col-md-1 col-sm-2 text-center"style="display: inline-block; width:33%">
      <img class="card-img-top rounded-circle" src="https://avatars.githubusercontent.com/u/72056427?v=4" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Doug Welchons</h4>
        <p class="cardtext">Software Developer</p>
      </div>
    </div>

    <div class="card col-lg-3 col-md-1 col-sm-1 text-center"style="display: inline-block; width:33%">
      <img class="card-img-top rounded-circle" src="https://avatars.githubusercontent.com/u/61896482?v=4" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Jeremiah Michlitsch</h4>
        <p class="cardtext">Software Developer</p>
      </div>
    </div>
  </div>
</div>

<style>
  body {
    background-image: url("https://media.istockphoto.com/photos/people-in-the-cinema-auditorium-with-empty-white-screen-picture-id1131545834?k=6&m=1131545834&s=612x612&w=0&h=PHAevHcwHfSVcYdf79MdWzCB51LNgoQU1VBji_c80gg=");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: darksalmon;  }
</style>
