<h3>Welcome to Viewing Party</h3>
    <%= form_with url: '/login', method: :post, local: true do |f| %>
    <%= f.label :email, class: "form-control" %>
    <%= f.text_field :email, class: "form-control" %>
    <%= f.label :password, class: "form-control" %>
    <%= f.password_field :password, class: "form-control", id: 'password' %>
    <%= f.submit 'Sign In' %>
  <% end %>


  <%= link_to 'New to Viewing Party? Register Here', register_path %>
