<h1>Welcome to Viewing Party!</h1><br>

<h5>Viewing party is an application for you to explore movie options and to create a viewing party event for you and friends.</h5><br>

<%= form_with url: root_path, method: :post do |form| %>
  <%= form.label :first_name, "First Name:" %>
  <%= form.text_field :first_name %><br>
  <%= form.label :last_name, "Last Name:" %>
  <%= form.text_field :last_name %><br>
  <%= form.label :email, "Email:" %>
  <%= form.text_field :email %><br>
  <%= form.label :password, "Password:" %>
  <%= form.password_field :password %><br>
  <%= form.submit "Sign In" %>
<% end %><br>

<%= link_to "New to Viewing Party? Register here", new_user_path %>
