<h2>Welcome to Viewing Party</h2>
<p>Invite and join to view movies with friends</p>
<%= form_with url: root_path, local: true do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Log In" %>
<% end %>

<%= link_to "New to Viewing Party? Register Here", registration_path %>
