<h1>Welcome to Viewing Party</h1>
<h2>"Welome! We're Glad You're Here! At Viewing Party, we make it easy to watch a movie with friends from the world. Let's get started!"</h2>
<%= form_with url: "/", method: :post, local: true do |form| %>
 <%= form.label :email, 'Email:' %>
  <%= form.text_field :email %>
  <%= form.label :password, 'Password:' %>
  <%= form.password_field :password %>
  <%= form.submit 'Log In' %>
<% end %>

<%= link_to "New to Viewing Party? Register Here", new_user_path%>
<%= link_to "Sign Up to Be a User", "/register" %>