<h1>Welcome to Viewing Party</h1>
<h3>An app to view movies with your friends!</h3>

<%= form_with model: @user, local: true do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Sign In" %>
<% end %>

<%= link_to 'New to Viewing Party? Register Here', '/registration' %>
