<h3>Welcome to Viewing Party</h3>
    <%= form_with url: '/login', method: :post, locals: true do |f| %>
    <%= f.label :email, class: "form-control" %>
    <%= f.text_field :email, class: "form-control" %>
    <%= f.label :password, class: "form-control" %>
    <%= f.password_field :password, class: "form-control" %>
    <%= f.label :password_confirmation, class: "form-control" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
    <%= f.submit 'Register' %>
  <% end %>
