<img src="https://image.tmdb.org/t/p/w200<%=@person.profile_path%>">
<h1><%= @person.name %></h1>
<p><%= @person.biography %></p>

<h1>Movies that <%= @person.name %> has stared in:</h1>
<center class="results">


  <% if @results %>
    <% if @results == {error: true} %>
      Sorry, there was a server error while processing your request!
    <% else %>
      <table style="width:90%">
        <th></th>
        <th></th>
        <% @results.each do |movie| %>
          <tr id="<%= movie.id %>">
            <td style="text-align: center"><img src="https://image.tmdb.org/t/p/w200<%=movie.poster_path%>" alt="<%= movie.title %>" style="max-height: 100px; max-width: 150px"></td>
            <td>
              <%= link_to movie.title, movie_path(movie.id) %><br>
              Average vote: <%= movie.vote_average %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% else %>
    <br> Oh no! No search results found.
  <% end %>
</center>
