<h1>Welcome <%= current_user.email %>!</h1>

<%= button_to 'Discover Movies', discover_path, method: :get %>

<section class='friends'>
  <h3>Friends</h3>
  <%= form_tag friend_path, method: :post do %>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    <%= submit_tag "Add Friend" %>
    <% if current_user.friends.empty? %>
      <p>You have no friends</p>
    <% else %>
    <ul>
      <% current_user.friends.each do |friend| %>
      <li><%= friend.email %></li><br>
      <% end %>
    </ul>
    <% end %>
  <% end %>
</section>

<h3>Viewing Parties</h3>
<section class='invited_parties'>
  <% @invited_parties.each do |party| %>
    <div id="party-<%= party.id %>">
    <%= party.title %><br>
    <%= party.date %><br>
    <%= party.time %><br>
    <p>Invited</p>
    </div>
  <% end %>
</section>
<section class='hosting_parties'>
  <% @host_parties.each do |party| %>
  <div id="party-<%= party.id %>">
    <%= party.title %><br>
    <%= party.date %><br>
    <%= party.time %><br>
    <p>Hosting</p>
  </div>
  <% end %>
</section>
