<h1>Welcome <%= current_user.name %>!</h1>

<p><%= button_to 'Discover Movies', "/discover" %></p>

<h2>Friends:</h2>
<section class='friends'>
  <% if @friends == [] %>
    <p>You currently have no friends.</p>
  <% else %>
    <% @friends.each do |friend| %>
      <%= friend.name %></br>
    <% end %>
  <% end %>
  <%= form_tag "/friendship/new", method: :post do %>
    <%= label_tag "New Friend's Email" %>:<br>
    <%= text_field_tag "New Friend's Email" %><br>

    <%= submit_tag 'Add Friend', class: :button %>
  <% end %>
</section>

<h2>Viewing Parties:</h2>
<h3>Parties I'm Hosting:</h3>
  <% @parties_hosting.each do |party| %>
  <section class='party' id='party-<%= party.id %>'>
    <%= party.movie_title %>,
    <%= party.date %>,
    <%= party.time %>,
    Host: <%= current_user.name %></br>
  </section>
  <% end %>
</br>
<h3>Parties I'm Invited To:</h3>
  <% @parties_invited_with_status.each do |party| %>
  <section class='party' id='party-<%= party[0].id %>'>
    <%= party[0].movie_title %>
    <%= party[0].date %>
    <%= party[0].time %>
    <%= party[1] %></br>
  </section>
<% end %>
