<h1><%= @movie.data[:title] %></h1>

<%= button_to 'Create Viewing Party', '/viewing-party/new'%>
<%= @movie.data[:vote_average] %>

<%= film_length(@movie.data[:runtime]) %>
<% @movie.data[:genres].each do |genre| %>
  <%= genre[:name] %>
<% end %>
<%= @movie.data[:overview] %>
  <% @movie.cast[:cast].first(10).each do |actor| %>
    <div class="actor">
      <%= actor[:name] %>
      <%= actor[:character]%>
    </div>
  <% end %>
<p>Total Reviews:</p>
<%= @movie.reviews[:total_results] %>
<p>Review Results:</p>
<% @movie.reviews[:results].each do |result|%>
  <%= result[:author_details][:rating]%>
  <br>
  <%= result[:author]%>
  <br>
  <%= result[:content]%>
  <br>
  <br>
<% end %>
