<h1> Movies </h1>
<%= button_to "Discover Top 40 Movies", discover_movies_path, method: :get, :params => {:top_40 => true}%>

<h3>Search For Movies </h3>
<%= form_with url: "/discover/movies", method: :get, local: true do |f| %>
<%= f.text_field :search %>
<%= f.submit "Search" %>
<% end %>

<% if defined?(@results) %>
<h3>Search Results</h3>
<% @results.each do |movie| %>
<br>
<div class="movie">
  <%= link_to "#{movie.title}", "/discover/movies/#{movie.id}" %>

  <%= movie.vote_average %>
</div>
<% end %>
<% end %>

<% if defined?(@popular_movies) %>
<h3>Popular Movies</h3>
<% @popular_movies.each do |movie| %>
<br>
<div class="movie">
  <%= link_to "#{movie.title}", "/discover/movies/#{movie.id}"%>
  <%= movie.vote_average %>
</div>
<% end %>
<% end %>

<% if defined?(@similar_movies) %>
<h3>Movies Similar to <%=params[:movie_title]%></h3>
<% @similar_movies.each do |movie| %>
<br>
<div class="movie">
  <%= link_to "#{movie.title}", "/discover/movies/#{movie.id}"%>
  <%= movie.vote_average %>
</div>
<% end %>
<% end %>