<h1> Top 40 Movies </h1>

<%= form_with url: '/movies', method: :get, local: true do |form| %>
  <%= form.label :movie_title, "Search by Title:" %>
  <%= form.text_field :movie_title %>
  <%= form.submit "Find Top Rated Movies" %>
<% end %>

<ol>
  <% @top_movies.each do |movie| %>
    <li><%= link_to "#{movie[:title]}", "/movies/details?title=#{movie[:title]}" %><ul>
      <li><%= "Score: #{movie[:vote]}" %></li>
      </ul>
    </li>
  <% end %>
</ol>