<h1>Welcome, <%= @user.email %>!</h1>

<%= button_to "Find Top Rated Movies", '/movies', method: :get %>

<%= form_tag '/search', value: "Search by movie title", method: :get do  %>

  <%= search_field_tag "Search by movie title" %>
  <%= submit_tag "Find Movies" %>

<% end %>

<div class="upcoming">
  <h3> Upcoming Releases:</h3>
  <ul>
  <h4> <% @upcoming_movies.each do |upcoming_movie| %> </h4>
    <li><%= upcoming_movie.title %></li>
    <%= upcoming_movie.release_date %>
  <% end %>
</ul>
</div>
