<%= button_to 'Home', '/dashboard', method: :get %>
<h1>Movie Discovery</h1>

<div>
  <%= button_to "Discover Current Popular Movies", "/movies", name: "popular", method: :get %>
</div>

<div>
  <%= button_to "Discover Top 40 Movies", "/movies", method: :get %>
</div>

<%= form_tag "/movies", value: "Search", method: :get do %>
  <%= label_tag :search %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search By Movie' %>
<% end %>
