<body class="welcome-page">
  <h1 style="font-size:60px;">Discover a Movie</h1>

  <img src="https://media.giphy.com/media/6nCOC4R1ssBXy/source.gif" alt="Tom Cruise You complete me" class="home-page" id="tom-cruise">

  <div class="search-movies">
    <%= form_tag "/movies", value: "Search", method: :get do %>
      <h3><%= label_tag :search %></h3>
      <%= text_field_tag :search %>
      <%= submit_tag 'Search By Movie' %>
    <% end %>
  </div>
  <div class="discover-movies2">
    <%= button_to "Discover Top 40 Movies", "/movies", method: :get %>
  </div>
  <br>
  <br>
  <br>
  <br>

</body>
