<div class="bg-image d-flex justify-content-center align-items-center"
    style="background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.jpg');
          height: 200vh; width: 100vw;"
    >
<div class="search_block">
<header><h1>Discover New Movies</h1></header>
  <p>
    <center>
      <%= button_to "Find Top Rated Movies", movies_path, method: :get, params: [search: "Top Rated"] %> <br>
      or <br><br>
      <%= button_to "Top 10 Trending Movies This Week", movies_path, method: :get, params: [search: "Trending Movies"] %> <br>
      or <br><br>
      <%= form_with url: movies_path, method: :get, local: true do |form| %>
      <%= form.submit "Search by Title" %><br>
        <%= form.text_field :search %>
      <% end %>
    </center>
  </p>
</div>

</div>
