<h1>Welcome <%= @user.email[/[^@]+/] %>!</h1><br><br>

<%= button_to "Find Top Rated Movies", movies_path, method: :get %><br><br>

<h3>OR</h3><br><br>

<%= bootstrap_form_with(url: movies_path, local: true, class: 'form-inline', align: 'center', method: :get) do |form|%><span class="tab"></span>
  <%= form.text_field :query, placeholder: "Search by movie title", skip_label: true %>
  &ensp;<%= form.submit "Find Movies" %>
<% end %><br><br><br><br>

<%= link_to "Back to Dashboard", dashboard_path, method: :get %
<%= link_to "Log out", '/logout', method: :delete %><br><br><br>
