<!DOCTYPE html>
<html>
<style>
body {
  background-image: url(https://blog.mywallst.com/wp-content/uploads/2020/08/felix-mooneeram-evlkOfkQ5rE-unsplash-1210x642.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: #4190a3;
}
a:link, a:visited {
  background: transparent;
  color: #03a9fc;
  text-decoration: underline;
}
a:hover {
  font-weight: 700;
  color: #90c6d4;
}
</style>
  <head>
    <title>CongressTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
  </body>

  <body>
    <main>
      <%= yield %>
    </main>
    <footer>
      <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" alt="The MovieDB Logo" width="75px" style="margin:10px" >
      <div>
        <p>
          Thank you to <a href="https://www.themoviedb.org/about/logos-attribution">The MovieDB</a> for providing the movie data that is used in this application.
        </p>
        <p>
          Further citation information regarding the movie data used in this project can be found <a href="http://files.grouplens.org/datasets/movielens/ml-latest-small-README.html">here.</a>
        </p>
      </div>
    </footer>
  </body>
</html>
